{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
    <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}

{% block page_title %}
{{ month_name|title }}
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}
    <h1>{{ month_name|title }} Challenge:</h1>
    {% if text is not None %}
    <ul>
        {% for challenge in text %}
            <li><h2>🔥{{ challenge }}</h2></li>
        {% endfor %}
    </ul>
    {% else %}
        <p class="fallback">There is no challenge set for this month.</p>
    {% endif %}
{% endblock %}